{% extends "noteKeeper_register/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form|crispy}}
    <div class="row">
        <div class="col-md-8">
        <button type='submit' class='btn btn-success'>
            <i class='fas fa-database'></i>
            Submit
        </button>
        <a href="{% url 'note_list' %}" class="btn btn-secondary btn-block btn-lg">
            <i class="fas fa-stream"></i> Back to list
        </a>
    </div>
    </div>
</form>
{% endblock content %}
